<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.sourceCompany.KingMgrMapper">

    <select id="getList" resultType="com.example.demo.entity.KingEntity">
        select * from king limit 1000;
    </select>

    <update id="update" parameterType="com.example.demo.entity.KingEntity">
        update king
        <set>
            <if test="kingName != null">
                kingName = #{kingName},
            </if>
            <if test="kingName2 != null">
                king_name2 = #{kingName2},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="dieday != null">
                dieday = #{dieday},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="ruleStart != null">
                rule_start = #{ruleStart},
            </if>
            <if test="ruleEnd != null">
                rule_end = #{ruleEnd},
            </if>
            <if test="ruleTime != null">
                rule_time = #{ruleTime},
            </if>
            <if test="ruleStartInt != null">
                rule_start_int = #{ruleStartInt},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
