<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.sourceCompany.KingMgrMapper">

    <insert id="insert" parameterType="com.example.demo.entity.King">
        INSERT INTO king(king_name, king_name2, birthday, deathday, age, rule_start, rule_end, rule_time, rule_start_int)
        VALUES (#{kingName}, #{kingName2}, #{birthday},#{deathday},#{age},#{ruleStart},#{ruleEnd},#{ruleTime},#{ruleStartInt})
    </insert>

    <update id="update" parameterType="com.example.demo.entity.King">
        UPDATE king
        <set>
            <if test="kingName != null">
                kingName = #{kingName},
            </if>
            <if test="kingName2 != null">
                king_name2 = #{kingName2},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="deathday != null">
                deathday = #{deathday},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="ruleStart != null">
                rule_start = #{ruleStart},
            </if>
            <if test="ruleEnd != null">
                rule_end = #{ruleEnd},
            </if>
            <if test="ruleTime != null">
                rule_time = #{ruleTime},
            </if>
            <if test="ruleStartInt != null">
                rule_start_int = #{ruleStartInt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
