<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.sourceCompany.ServantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Servant">
        <id column="servant_id" property="servantId"/>
        <result column="servant_name_china" property="servantNameChina"/>
        <result column="servant_name_english" property="servantNameEnglish"/>
        <result column="sex" property="sex"/>
        <result column="weight" property="weight"/>
        <result column="height" property="height"/>
        <result column="star" property="star"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        servant_id, servant_name_china, servant_name_english, sex, weight, height, star
    </sql>

</mapper>
