<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Vue 基本语法1</title>
    <script src="js/vue.js"></script>
</head>
<body>

<div>
    <ol>
        <li>v-bind:title = "message"(缩写 :title = "message" ) 将message的值绑定在title上</li>
        <li>v-bind:href = "message"(缩写 :href = "message" ) 将message的值绑定在href上</li>

        <li>v-on:click = "doSomeThing"(缩写 @:click = "doSomeThing" ) 点击时触发doSomeThing事件</li>

        <li>v-for = "oneText in textList";</li>
        <li>v-model = "value1";</li>
    </ol>
</div>


----------------------------------------------------

<div id="app">
    <span>{{ message }}</span>
</div>
----------------------------------------------------
<div id="app2">
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>
----------------------------------------------------
<div id="app3">
    <button v-on:click="clickEvent">点我</button>
    <span v-if="message">
        你能看见这条信息吗
    </span>
</div>
----------------------------------------------------
<div id="app4">
    <button v-on:click="clickEvent">点我</button>
    <ol>
        <li v-for="oneText in list">
            {{oneText}}
        </li>
    </ol>
</div>
----------------------------------------------------
<div id="app5">
    <button v-on:click="clickEvent">点我</button>
    <div>
        <input v-model="message1">
    </div>
    <div>
        <input v-model="message2">
    </div>
    <div>
        <input v-model="message3">
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '文本插值!'
        }
    });

    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    });

    var app3 = new Vue({
        el: '#app3',
        data: {
            message: true
        },
        methods: {
            clickEvent: function () {
                this.message = !this.message;
            }
        }
    });

    var app4 = new Vue({
        el: '#app4',
        data: {
            list: [{text: '叶非'}, {text: '叶非非'}]
        },
        methods: {
            clickEvent: function () {
                var obj = {text: '非洲人是你'};
                this.list.push(obj);
            }
        }
    });

    var app5 = new Vue({
        el: '#app5',
        data: {
            message1: '输入1',
            message2: '输入2',
            message3: '输入3'
        },
        methods: {
            clickEvent: function () {
                this.message1 = '我变了';
            }
        }
    });
</script>
</body>
</html>
